body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-main{
  font-family: 'Sora', sans-serif;
}

.cap-sb-title{
  font-size: 21px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.nav-item a{ text-decoration: none; }
.nav-item a.active{ text-decoration: underline; }
.nav-item a.active:hover{ text-decoration: underline; text-decoration-color: white; }
.list-group-item-primary {
  color: white !important;
  background-color: transparent !important;
  border: 0px solid rgba(0,0,0,.125) !important;
  border-bottom: 1px solid white !important;
  padding: 10px 0 !important;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}